<html>
<head>
    <title>websql</title>
</head>
<body>
<h1>WebSQL</h1>
<ul>
    {% for database in databases %}
      <li><a href="{{ database.1 }}">{{ database.0 }}</a></li>
    {% endfor %}
</ul>
</body>
</html>
