<html>
<head>
    <title>websql</title>
</head>
<body>
<h1>WebSQL Query {{ database }}</h1>
<form action="" method="POST">
<p><textarea name="query"></textarea></p>
<p>
   <select name="format">
    <option value="csv">csv</option>
    <option value="json">json</option>
   </select>
</p>
<p><input type="submit"/></p>

</form>
</body>
</html>
